.page-formulario {
display:grid;
grid-template-columns: repeat(2, minmax(200px, 1fr));
}

.gallery-img{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); 
    grid-template-rows: repeat(3, 1fr); 
    grid-template-areas:
    "area1 area2"
    "area3 area4"
    "area5 area6";
    gap: 0; 
    width: 100%; 
    height: 100%; 
}
.galery-item:nth-child(1) {
    grid-area: area1;
    background-image: url("https://images.pexels.com/photos/632522/pexels-photo-632522.jpeg?auto=compress&cs=tinysrgb&w=600");
    background-size: cover;
    background-position: center;
  }
  
  .galery-item:nth-child(2) {
    grid-area: area2;
    background-image: url("https://images.pexels.com/photos/532263/pexels-photo-532263.jpeg?auto=compress&cs=tinysrgb&w=600");
    background-size: cover;
    background-position: center;
  }
  
  .galery-item:nth-child(3) {
    grid-area: area3;
    background-image: url("https://images.pexels.com/photos/3769138/pexels-photo-3769138.jpeg?auto=compress&cs=tinysrgb&w=600");
    background-size: cover;
    background-position: center;
  }
  
  .galery-item:nth-child(4) {
    grid-area: area4;
    background-image: url("https://images.pexels.com/photos/3345082/pexels-photo-3345082.jpeg?auto=compress&cs=tinysrgb&w=600");
    background-size: cover;
    background-position: center;
  }
  
  .galery-item:nth-child(5) {
    grid-area: area5;
    background-image: url("https://media.istockphoto.com/id/500750930/es/foto/caracas-venezuela-paisaje-urbano-de-una-tarde-soleada.jpg?b=1&s=612x612&w=0&k=20&c=n9myBlHOoYiUCVxg5XbyeLpZDtnzgUdOihlYiv3YLxY=");
    background-size: cover;
    background-position: center;
  }
  
  .galery-item:nth-child(6) {
    grid-area: area6;
    background-image: url("https://media.istockphoto.com/id/108312256/es/foto/salto-%C3%A1ngel.jpg?b=1&s=612x612&w=0&k=20&c=mhmwM2b99lRtbfbgP0KRxlyBioWRtsdcISCgGlNfzUI=");
    background-size: cover;
    background-position: center;
  }

.zone-form {
    display: grid;
    grid-template-rows: 20% 80%;
}
.zone-form1 {
    width: 100%;
    height: 100%;
    display:flex;
    justify-content: flex-end;
    align-items: center;
}
.zone-form2{
    width: 100%;
    height: 100%;
    display:flex;
    justify-content: flex-end;
    align-items: center;
}
.btn-regresar{
    display:flex;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
}






/* @media (max-width: 768px) {
    .page-formulario {
      grid-template-columns: 1fr;
    }
  } */