.page-formulario {
display:grid;
grid-template-columns: repeat(2, minmax(200px, 50%));
place-items:center;
height:100vh;
width:100%
}

.gallery-img{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); 
    grid-template-rows: repeat(3, 1fr); 
    grid-template-areas:
    "area1 area2"
    "area3 area4"
    "area5 area6";
    gap: 0; 
    width: 100%; 
    height: 100%; 
}
.gallery-item1 {
    grid-area: area1;
    background-image: url('https://images.unsplash.com/photo-1677362376803-93af835b3a47?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHx0b3BpYy1mZWVkfDU2fEZ6bzN6dU9ITjZ3fHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60');
    background-size: cover;
    background-position: center;
  }
  
  .gallery-item2{
    grid-area: area2;
    background-image: url("https://images.unsplash.com/photo-1677098320096-6c6630851c07?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHx0b3BpYy1mZWVkfDc3fEZ6bzN6dU9ITjZ3fHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60");
    background-size: cover;
    background-position: center;
  }
  
  .gallery-item3 {
    grid-area: area3;
    background-image: url("https://images.pexels.com/photos/3769138/pexels-photo-3769138.jpeg?auto=compress&cs=tinysrgb&w=600");
    background-size: cover;
    background-position: center;
  }
  
  .gallery-item4 {
    grid-area: area4;
    background-image: url("https://images.pexels.com/photos/3345082/pexels-photo-3345082.jpeg?auto=compress&cs=tinysrgb&w=600");
    background-size: cover;
    background-position: center;
  }
  
  .gallery-item5{
    grid-area: area5;
    background-image: url("https://media.istockphoto.com/id/500750930/es/foto/caracas-venezuela-paisaje-urbano-de-una-tarde-soleada.jpg?b=1&s=612x612&w=0&k=20&c=n9myBlHOoYiUCVxg5XbyeLpZDtnzgUdOihlYiv3YLxY=");
    background-size: cover;
    background-position: center;
  }
  
  .gallery-item6 {
    grid-area: area6;
    background-image: url("https://media.istockphoto.com/id/108312256/es/foto/salto-%C3%A1ngel.jpg?b=1&s=612x612&w=0&k=20&c=mhmwM2b99lRtbfbgP0KRxlyBioWRtsdcISCgGlNfzUI=");
    background-size: cover;
    background-position: center;
  }

.zone-form {
    display: grid;
    grid-template-rows: 15% 80%;
    background-color: rgba(255, 255, 255, 0.747);
    width: 100%;
    height: auto;
    justify-content: center;
    place-items:center;
}
.zone-form1 {
    width: 100%;
    height: 100%;
    display:flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0;
}
.zone-form2{
    width: 100%;
    height: 100%;
    display:flex;
    align-items: center;
    padding:1.5rem;
    
}

.btn-regresar{
    display:flex;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
}

.btn-regresar {
  height: 3em;
  width: 5em;
  border: none;
  border-radius: 10em;
  background: #ff0303bd;
  font-size: 17px;
  font-family: inherit;
  font-weight: 500;
  justify-content: center; 
  align-items: center;
  cursor:pointer
}
.btn-regresar a{
  color:white;
}






@media (max-width: 768px) {
    .page-formulario {
      grid-template-columns: 1fr;
    }
    .zone-form1{
      display:none;
    }
  }