


.country {
width:250px;
height:300px;
border: solid 1px #0000001a;
border-radius:15px ;
overflow: hidden;
position: relative;
box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
}

.country-content-img {
width:100%;
height:60% ;

}

.country-img{
max-width: 100%;
width: 100%;
height: 100%;
object-fit: cover;
position: relative;
}


.content-text{
  background-color: #fffffb;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:7px;
  margin-top: 0.5rem;
  font-family: Arial;
  font-weight: lighter;
  font-size: auto;
  overflow-wrap: break-word; /* Para ajustar el texto al ancho del contenedor */
}
.content-text span:first-child {
  max-width: 100%;
  text-align: center;
  font-size:auto;
  font-weight: 300;
}

.content-text span:nth-child(2){
  text-transform: uppercase;
  font-weight: 600;
}
.country-btn{
 display: flex;
 justify-content: center;
}

.country-btn button{
  background: transparent;
  position: absolute;
  padding: 5px 15px;
  display: flex;
  align-items: center;
  font-size: 17px;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid rgb(8, 8, 8);
  border-radius: 25px;
  outline: none;
  overflow: hidden;
  color: rgb(8, 8, 8);;
  transition: color 0.3s 0.1s ease-out;
  text-align: center;
}
.country-btn button::before{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  content: '';
  border-radius: 50%;
  display: block;
  width: 20em;
  height: 20em;
  left: -5em;
  text-align: center;
  transition: box-shadow 0.5s ease-out;
  z-index: -1;
}
.country-btn button:hover{
  color: #fff;
  border: 1px solid rgb(8, 8, 8);;
}

.country-btn button:hover::before{
  box-shadow: inset 0 0 0 10em rgb(8, 8, 8);;
}
/* Hide the default checkbox */

.container-favoritos{
  position: absolute;
  top:7%;
  left: 90%
}
.favoritos input {
  position: absolute;
  opacity: 1;
  -webkit-appearance: none;
  cursor: pointer;
  height: 50px;
  width: 50px;
  box-shadow: -10px -10px 15px rgba(255,255,255,0.5),
  10px 10px 15px rgba(0,0,70,0.12);
  border-radius: 50%;
  border: 8px solid #ececec;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .5s;
}

.favoritos {
  display: flex;
  justify-content: center;
  align-items: center;
}
.favoritos input {
  position: absolute;
  opacity: 1;
  -webkit-appearance: none;
  cursor: pointer;
  height: 30px; /* Reducimos la altura en un 40% */
  width: 30px; /* Reducimos el ancho en un 40% */
  box-shadow: -6px -6px 9px rgb(255, 255, 255),
              6px 6px 9px rgba(254, 254, 255, 0.897);
  border-radius: 50%;
  border: 5px solid #ececec;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .5s;
  transform: scale(0.9); /* Reducimos el tamaño en un 40% */
}

.favoritos input::after {
  transition: .5s;
  font-family: monospace;
  content: '';
  color: #7a7a7a;
  font-size: 25px;
  left: 0.45em;
  top: 0.25em;
  width: 0.25em;
  height: 0.5em;
  border: solid #7a7a7a;
  border-width: 0 0.15em 0.15em 0;
  transform: rotate(45deg);
}

.favoritos input:checked {
  box-shadow: -10px -10px 15px rgba(255,255,255,0.5),
  10px 10px 15px rgba(70,70,70,0.12),s
  inset -10px -10px 15px rgba(255,255,255,0.5),
  inset 10px 10px 15px rgba(70,70,70,0.12);
  transition: .5s;
}

.favoritos input:checked::after {
  transition: .5s;
  border: solid rgb(247, 242, 0);
  border-width: 0 0.15em 0.15em 0;
  transform: rotate(45deg);
 
}

input[type=checkbox]:checked + label:before {
  box-shadow: inset 0 0 0 100px rgba(243, 237, 237, 0.9);
}