*{
    margin: 0;
    padding:0;
    box-sizing:border-box;
}

.navbar-container {
    display: flex;
    justify-content: center;
    align-items:center;
    background:#fff159ff;
    gap:2rem;
    height:3rem;
}

.dropdown{
    display:flex;
    justify-content:center;
    align-items:center;
    gap: 5px;
    position: relative;
    color:rgb(0,0,0,0.4);
    margin-right: 10px;
}

.dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    border-radius: 6px;
    margin:0;
    padding:0;
    width:auto;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    letter-spacing:1.5px;
    font-weight: bold;

    color:black;
}


.dropdown > span {
font-size:1rem;
font-weight: small;
font-family: "Arial";
cursor: pointer;
letter-spacing:1.5px;
}
.dropdown > span > svg {
    margin-left: 5px;
  }
  
  
  .dropdown-content li {
    width:100%; 
    cursor: pointer;
    list-style-type:none;
    padding: 1rem;
    font-weight: lighter;
    
  }
  .dropdown-content li:hover {
    background-color: rgba(3, 3, 3);
    color:white;
    width:100%;
    overflow:hidden;
    border-radius:6px  ;
    -webkit-border-radius:6px  ;
    -moz-border-radius:6px  ;
    -ms-border-radius:6px  ;
    -o-border-radius:6px  ;
    
}  
  .dropdown.clicked:hover .dropdown-content {
    display: block;
    position:absolute;
    top: 18px;
    background-color: #fcf7f7ee;
  }
